html, body {
    padding: 0;
    margin: 0;
}

.darktheme {
    height: 750px;
    width: 100%;
    background-image: url("https://www.apple.com/v/home/es/images/heroes/iphone-11-pro/hero__dvsxv8smkkgi_largetall.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.navbar {
    display: flex;
    align-items: flex-start;
    height: 75px;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

.a {
    text-decoration: none;
    color:white;
    }
.search {
    margin-bottom: 40px;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: floralwhite;
    height: 100%;
    width: 100%;
    margin: 0cm;
    text-decoration: none;
}

.headerContainer {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    margin-top: -350px;
    flex-wrap: wrap;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    
    
}

h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: -40px;


}

h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: -10px;
    margin-bottom: -40px;

}

p {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: -50px;
}

.listTags {
    display: flex;
    justify-content: space-around;
    color: blue;
    height: 20px;
    width: 600px;
    font-size: 21px;
    margin-top: -30px;
    margin-bottom: -75px;
    margin-left: -80px;
    margin-right: -80px;
    }

.colourtheme {
    height: 750px;
    width: 100%;
    background-image: url("https://www.apple.com/v/home/es/images/heroes/iphone-11/hero__dvsxv8smkkgi_largetall.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

.headerContainer1 {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #1D1D1F;
    }

 h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: -40px;
    }

h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: -10px;
    margin-bottom: -40px;
    }

p {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: -50px;
   }

  .listTags {
    display: flex;
    justify-content: space-around;
    color: blue;
    height: 20px;
    width: 600px;
    font-size: 21px;
    margin-top: -30px;
    margin-bottom: -75px;
    margin-left: -80px;
    margin-right: -80px;
    }

  .watchtheme {
    height: 750px;
    width: 100%;
    background-image: url("https://www.apple.com/uk/home/images/heroes/watch-series-5/hero__dvsxv8smkkgi_largetall.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

  .headerContainer3 {
     height: 300px;
     width: 600px;
     display: flex;
     justify-content: center;
     margin-top: 100px;
     flex-wrap: wrap;
     font-size: 17px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 400;
     color: #1D1D1F;
     }

  .header {
    height: 100px;
    width: 200px;
    background-image: url("https://www.apple.com/v/home/es/images/logos/watch-series-5/logo_hero__trsrpeu6koqy_large.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 45px;
    }
   
  .retina {
       display:flex;
       justify-content: center;
       font-size: 25px;
       margin-bottom: 30px;
      }



   .neverSeen {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: -50px;
    margin-bottom: -50px;
    }

.listTags1 {
    display: flex;
    justify-content: space-around;
    color: blue;
    height: 20px;
    width: 600px;
    font-size: 21px;
    margin-top:-20px;
    }

  p {
    display: flex;
    justify-content: center;
    }

    .container6 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        
    }
    .watchStudio {
        background-image: url(https://www.apple.com/uk/home/images/promos/apple-watch-studio/tile__cauwwcyyn9hy_large.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .headerContainer4 {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 100px;
    flex-wrap: wrap;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #1D1D1F;
    }

  h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: -60px;
    }

    p {
     display: flex;
     justify-content: center;
     }

.listTags2{
    display: flex;
    justify-content: space-around;
    color: blue;
    height: 20px;
    width: 600px;
    font-size: 21px;
     margin-top:-60px;
    }
    
    

.appleTv {
     background-image: url(https://www.apple.com/v/home/es/images/promos/tv-plus-la/tile__cauwwcyyn9hy_large.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     

    }

  

    .littleAmerica {
        background-image: url(https://www.apple.com/v/home/es/images/logos/tv-plus-la/la_logo__cxaw552xdj2a_large.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 700px;
        margin-top: 475px;
        margin-left: 25px;
        }

    .appleTvLogo {
        background-image: url(https://www.apple.com/v/home/es/images/logos/tv-plus-la/logo__dcojfwkzna2q_large.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
        margin-top: -550px;
        margin-left: 350px;
        }
    .aTv {
        display: flex;
        margin-top: 450px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #FFFFFF;
        }

.airPods {
     background-image: url(https://www.apple.com/v/home/es/images/promos/airpods-engraving/tile__cauwwcyyn9hy_large.jpg);
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: auto;
    }

 .headerContainer6 {
     height: 300px;
     width: 600px;
     display: flex;
     justify-content: center;
     margin-top: 50px;
     margin-left: 100px;
     flex-wrap: wrap;
     font-size: 17px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 400;
     color: #1D1D1F;
        }
    
  .airPodsH {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 45px;
    margin-left: 150px;
    margin-right: 100px;
     }

  .airPodsP {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: ;
    }

  

  .listTags3 {
    display: flex;
    justify-content: space-around;
    color: blue;
    height: 20px;
    width: 600px;
    font-size: 18px;
    }
        
  .macBookPro {
     background-image: url(https://www.apple.com/v/home/es/images/promos/macbook-pro-16/tile__cauwwcyyn9hy_large.jpg);
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: auto;
    }

  .headerContainer7 {
     height: 200px;
     width: 400px;
     display: flex;
     justify-content: center;
     margin-top: 50px;
     margin-left: 100px;
     flex-wrap: wrap;
     font-size: 17px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 400;
     color: #1D1D1F;
           }
       
     .macBook {
       display: flex;
       justify-content: center;
       align-items: flex-start;
       font-size: 45px;
       margin-left: 250px;
       margin-right: 50px;
       margin-top: -110px ;
        }

    .brightest {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: -60px;
        margin-left: 180px;
        font-size: 18px;
       }
   
     .inch {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       margin-top: 100px ;
       margin-left: 175px;
      }
   
     .listTags4{
       display: flex;
       justify-content: space-around;
       color: blue;
       height: 20px;
       width: 600px;
       font-size: 21px;
       margin-left: 175px;
        }

    .appleArcade {
        background-image: url(https://www.apple.com/v/home/es/images/promos/arcade-ultimate/tile__cauwwcyyn9hy_large.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .arcadeLogo {
        background-image: url(https://www.apple.com/v/home/es/images/logos/arcade-ultimate/logo__dcojfwkzna2q_large.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:60px;
        width: 250px;
        margin-left: 120px;
        margin-top: 20px;
    


    }
    .headerContainer8 {
        height: 200px;
        width: 400px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-left: 110px;
        flex-wrap: wrap;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #FFFFFF;
              }
   
       .newWorld {
           display: flex;
           justify-content: center;
           flex-wrap: wrap;
           margin-top: 50px;
           margin-left: 150px;
           font-size: 18px;
          }
      
        .newGames {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 50px ;
          margin-left: 150px;
         }
      
        .listTags5 {
          display: flex;
          justify-content: space-around;
          color: #FFFFFF;
          height: 20px;
          width: 600px;
          font-size: 20px;
          margin-left: 150px;
          margin-top: 100px;
          width: 500px
           }

     .newIpad {
        background-image: url(https://www.apple.com/uk/home/images/promos/ipad/tile__cauwwcyyn9hy_large.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        width: 300px;
        
    }

   

    .box {
        width: 49%;
        height: 624px;
        
    }
    .headercontainer9 {
        height: 200px;
        width: 400px;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        flex-wrap: wrap;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #FFFFFF;

    }

    .new {
        margin-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ipad {
        margin-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
    }

    .like {
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-left: 50px;
    }

    .unlike {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-top: 50px;
        margin-left: 50px;

    }

    .ipadLogo {
        background-image: url(https://www.apple.com/v/home/a/images/logos/ipad/logo_tile__ex0pdbqxuuuu_large_2x.png);
        height: 100px;
        width: 400px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 300px;
        margin-top: 50px;
    }